<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net46" />
  <package id="ApeFree.ApeDialogs" version="0.10.14" targetFramework="net46" />
  <package id="ApeFree.ApeForms.Core" version="0.11.3" targetFramework="net46" />
  <package id="ApeFree.ApeForms.Forms" version="0.11.3" targetFramework="net46" />
  <package id="ApeFree.Cake2D" version="0.0.3" targetFramework="net46" />
  <package id="STTech.CodePlus" version="1.5.14" targetFramework="net46" />
</packages>